[submodule "minilibx"]
	path = libmlx
	url = git@github.com:wblondel/minilibx_macos.git
[submodule "libft"]
	path = libft
	url = git@github.com:wblondel/C_Libraries_libft.git
[submodule "tools/trackMemUsage"]
	path = tools/trackMemUsage
	url = git@github.com:wblondel/Bash_TrackMemUsage.git
[submodule "tools/42MapGenerator"]
	path = tools/42MapGenerator
	url = https://github.com/jgigault/42MapGenerator.git
